body{
      background-color: #F2F2F2;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: 0px;
      padding: 0px;
}
.container {
      background-color: white;
      margin-top: 50px;
      width: 290px;
      height: 350px;
      margin-left: auto;
      margin-right: auto;
      border:1px solid #E6E6E6;
      box-sizing: border-box;
      box-shadow: 3px -2px 10px #ccc;
      }

#instagramlogo {
      left: 50%;
      right: 50%;
      height: 120px;
      margin-left: 51px;
      margin-top: 20px;
      margin-bottom: -35px;
}

label{
      margin-bottom: 50px;
      padding-left: 70px;
      
}
input{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 8px;
      color: #ccc;
      border: 1px solid #ccc;
      outline: 0;
      border-radius: 3px;
      width: 160px;
      background:rgba(var(--b3f,250,250,250),1);
      height: 25px;
      margin-top: 10px;
}
button{
      background-color: #C3E8FB;
      border-radius: 3px;
      font-size: 0.6em;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      height: 24px;
      width: 165px;
      border: 1px solid #C3E8FB ;
      margin-top: 10px;
}
button:hover{
      background-color: #4CA4FB;
}
.ou{
      font-size: 8px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-left: 72px;
      padding-right: 20px;
      margin-top: 2px;
      color: #ccc;
      text-align:justify;
}
#facebookicon{
      width: 25px;
      margin-left: 70px;
}
.face{
      font-size: 14px;
      margin-left: 95px;
      margin-top: -26px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #4267B2;
}
.forgotpass{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-decoration: none;
      font-size: 13px;
      margin-left: 101px;
      color: #00376b;
}
.signup{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 13px;
      text-decoration: none;
      color:#0095F6;
      padding-left: 53px;
      margin-left: 110px;
        
      
                    
}
.semconta{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 13px;
      margin-top: 27px;
      margin-left: 40px;
      padding-right: 100px;
      margin-bottom: -17px;
  
}

.coluna{
      background-color: white;
      margin-top: 10px;
      width: 290px;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      border:1px solid #E6E6E6;
      box-sizing: border-box;
      box-shadow: 3px -2px 10px #ccc;
     
}
.obtainapp{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(var(--i1d,38,38,38),1);
      font-size: 13px;
      line-height: 18px;
      margin: 10px 20px 10px 20px;
      text-align: center;
      margin-bottom: -35px;
      margin-top: -25px;
      
}
#appplay{
      width: 85px;
      margin-left: 554px;
      margin-right: -100px;
      
}
#googleplay{
      width: 85px;
      margin-left: 100px;
      
}